<template>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" id="autocomplete-tags" class="autocomplete" @keydown.enter="addTag">
          <!-- @keydown.enter é a chamada de um evento no Vue.js. ".enter" irá acontecer quando a tecla pressionada for o Enter -->
      <label for="autocomplete-tags">Procure uma Tag</label>
    </div>
    <div class="col s12">
      <div class="chip" v-for="tag in portfolioTags" v-bind:key="tag">
        {{ tag.title }}
        <i class="close material-icons" @click="removeTag(tag)">close</i>
      </div>
    </div>
  </div>
</template>
 
 
<script>
 
export default {
  props: ['portfolioId', 'portfolioTags'],
 
  data() {
    return {
      currentTag: "",
      tags: []
    }
  },
   
  mounted() {
    this.$resource('/tags').get() // consulta as tags que serão utilizadas
        .then(response => { this.set_tags(response.body.tags) },
              response => { M.toast({ html: "Ocorreu um erro ao carregar as Tags do Portfólio", classes: "red" })
        })
  },
  
  methods: {
    set_tags(tags){
      let autoCompleteTags = {}
      let elem = document.querySelectorAll('#autocomplete-tags')
      tags.forEach((tag) => { autoCompleteTags[tag.title] = null })
      this.tags = tags
      M.Autocomplete.init(elem, { data: autoCompleteTags }); // inicializa um Autocomplete do materialize
    },
 
    addTag(event) {
      let tagToAdd = this.tags.find((tag) => { return tag.title == event.target.value }) // localiza qual tag o usuário selecionou. 
      if(tagToAdd != "" && tagToAdd != null)
      {
        this.$resource('/portfolios{/portfolioId}/tags').save({ portfolioId: this.portfolioId }, { tag_id: tagToAdd.id })
            .then(
              response => {
                this.portfolioTags.push(tagToAdd)
                event.target.value = "" // limpa o campo
              },
              response => { response.body.errors.forEach(error => { M.toast({ html: error, classes: "red" }) }) }
            )
      }
    },
 
    removeTag(tag){
      let indexToRemove = this.tags.indexOf(tag) // localiza a posição da tag no array das tags para poder fazer o slice abaixo.
      this.$resource('/portfolios{/portfolioId}/tags{/tagId}').remove({ portfolioId: this.portfolioId, tagId: tag.id })
          .then(
            response => { this.portfolioTags.slice(indexToRemove, 1) },
            response => { response.body.errors.forEach(error => { M.toast({ html: error, classes: "red" }) }) }
          )
    }
  }
}
 
</script>