body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1 0 auto;
  }


  footer{
    .page-footer{
      background-color: #424242;
      padding-top: 10px;
      .copyright{
        padding-bottom: 10px;
        color: white;
        .copyright-link{
          color: white;
          cursor: pointer;
        }
        .copyright-icon{
          font-size: 20px;
          color: red;
        }
      }

      .footer-icons {
        color: white;
        font-size: 20px;
        padding-left: 15px;
        padding-top: 5px;
      }

      .footer-container {
        margin-left: 50px;
        margin-right: 50px;
      }

      b {
        font-size: 13px;
      }
    }
  }
}