<div class='card z-depth-4'>
  <div class='card-content'>
    <div class='row'>
      <div class="col m10 offset-m1 s10 offset-s1">
        <%= form_with(url: '/search', local: true) do |f| %>
          <div class="input-field">
            <%= f.label :skills, "Habilidades" %><br />
            <%= f.text_field :skills, class: 'field' %> 
          </div>

          <div class="input-field">
            <%= f.label :locale, "Onde" %><br />
            <%= f.text_field :locale, class: 'field' %>
          </div>

          <div class="input-field ">
            <label>
              <%= f.check_box :remote_ok, class: 'filled-in'  %>
              <span>Remote OK</span><br />
            </label>
            <br />
          </div>

          <div class="submit-button-search row">
            <button class='btn btn-large custom-grey darken-1 form-button col m12 s12'>
              <i class='material-icons right'>search</i>Buscar Dev
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>