.label {
  display: block;
  margin-bottom: 10%;
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 0.8em;
  box-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 2px grey;
  -moz-box-shadow: 1px 1px 2px grey;
}


.block-title {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}


.resource-list {
  margin-bottom: 0;

  .resource-item {
    margin-bottom: 0;
    margin-top: -1px;
    border: 1px get-custom-color("custom-grey") solid;
    padding-top: 10px;
    padding-bottom: 10px;
    color: get-custom-color("custom-grey", "darken-1");
  }
}
